<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <md-card class="login-card">
      <form class="example-form">
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Enter your email">
        </md-form-field>
        <md-form-field class="example-full-width">
          <input type="password" mdInput placeholder="Password">
        </md-form-field>
          <button md-raised-button color="primary" style="margin-left: 40%" >Login</button>
      </form>
    </md-card>
    <br><br>
    <button md-raised-button color="primary" (click)="loginWithGoogle()" style="margin-left: 40%" >Login with Google</button>
    
  </div>
</div>
<br><br>